// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dark-red: #8A3030;

@mixin head-line{
  h1, h2, h3{
    color:$dark-red;
    font-weight:bold;
    margin-bottom:20px;
  }
}

.form-wrapper{
  margin: 50px 0px 0px 100px;
  @include head-line;
  h1{
    font-size:20px;
    margin-top:100px;
  }
  input, select{
    margin: 5px 0;
  }
  input[type='submit']{
    margin-top:20px;
    background:#ED8461;
    width:150px;
    border-radius:10px;
  }
  select{
    width:200px;
  }
  label{
   font-size:14px;
   font-weight:bold;
  }
  #errorMessage{
    color:red;
  }
}

.instant-box{
  @include head-line;
  padding:10px 20px;
  div:first-of-type{
    margin-bottom: 20px; 
  }
  h1{
    font-size:23px;
    margin-left:10px;
  }
  input[type="text"]{
    padding:5px 10px;
  }
  .create-button{
    margin-top:20px;
    padding:10px;
    width:150px;
    background-color:#ED8461;
    border:1px solid gray;
    border-radius:10px;
    color:white;
    text-align:center;
    font-weight:bold;
    box-shadow: 5px 5px 7px gray;
  }
  h2{
    font-size:18px;
    margin-bottom:15px;
    margin-top:15px;
    margin-left:10px;
    span{
      margin-right:5px;
    }
    a{
      font-weight:normal;
      color:#805252;
      font-size:16px;
    }
  }
  .glyphicon-edit, .glyphicon-pencil{
    color:$dark-red;
    display:inline-block;
    margin-left:15px;
  }
  .button{
    border-radius:5px;
    color:black;
    text-align:center;
  }
  .delete-button{
    background:#ED8461;
    border-radius:5px;
    display:block;
  }
}

@media only screen and (max-width : 800px) {
  .instant-box h1 {
      font-size:20px;
  }
  .instant-box .create-button{
    display:none;
   }
}

table{
  border: 1px dotted $dark-red;
  width:100%;
  margin-bottom:40px;
  th, td{
    padding:5px 10px;
    border: 1px dotted $dark-red;
  }
  th{
    color: $dark-red;
    font-weight:bold;
    background:#D1C9C7;
  }
  .yellow{
    background:yellow;
  }
  th, td{
    width:10%;
  }
  th:nth-child(2), td:nth-child(2){
    width:35%;
  }
  th:nth-child(3), td:nth-child(3){
    width:15%;
  }
  th:nth-child(4), td:nth-child(4){
    width:10%;
  }
  th:nth-child(5), td:nth-child(5){
    width:13%;
  }
  th:nth-child(6), td:nth-child(6){
    width:7%;
  }
  .completed{
    background:#F7BAA6;
  }
  .no-display{
    display:none;
  }
}

@media screen and (max-width: 640px) {
  table {
    overflow-x: auto;
    display: block;
    font-size:12px;
    line-height:120%;
  }
}
@media screen and (max-width: 800px) {
  .instant-box {
    padding:5px 0px;
  }
}